{% extends 'base/web.html' %}
{% block body %}
<table class="table">
    <tbody>
    <tr>
        <th>Data</th>
        <td>{{object.created|date:'SHORT_DATETIME_FORMAT'}}</td>
    </tr>
    <tr>
        <th>Valor</th>
        <td>{{object.value}}</td>
    </tr>
    <tr>
        <th>Observaçao</th>
        <td>{{object.remark}}</td>
    </tr>
    </tbody>
</table>
<div>
    <div class="btn-group">
        {% if perms.sample.list_movement %}
        <a class="btn btn-default" href="{% url 'sample:web:movement-list' %}">
            <span class="fa fa-list"></span>
        </a>
        {% endif %}
        {% if perms.sample.delete_movement %}
        <a class="btn btn-danger" href="{% url 'sample:web:movement-delete' pk=object.pk %}">
            <span class="fa fa-trash"></span>
        </a>
        {% endif %}
        {% if perms.sample.change_movement %}
        <a class="btn btn-primary" href="{% url 'sample:web:movement-update' pk=object.pk  %}">
            <span class="fa fa-pencil"></span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
