{% extends 'base/web.html' %}
{% block body %}
<form method="POST"
      enctype="multipart/form-data"
      {% if object.pk %} action="{% url 'sample:web:movement-update' pk=object.pk  %}"
      {% else %}
      action="{% url 'sample:web:movement-create' %}"
      {% endif %}>
    {% csrf_token %}
    <div>
        {{form.as_p}}
    </div>
    {% for title, inline_formset in inline_formsets %}
    <div class="js-inline-admin-formset inline-group"
         data-inline-type="stacked"
         data-inline-formset="{&quot;name&quot;: &quot;#annexes&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;annexes&quot;, &quot;addText&quot;: &quot;Adicionar outro(a) Anexo de Movimento&quot;, &quot;deleteText&quot;: &quot;Remover&quot;}}">
        <fieldset>
            {% if title %}
            <legend>{{title}}</legend>
            {% endif %}
            {{ inline_formset.management_form }}
            {{ inline_formset.non_form_errors }}
            {% for inline_form in inline_formset %}
            {{inline_form.id}}
            <div class="inline {{form.prefix}}">
                {{inline_form.as_p}}
            </div>
            {% endfor %}
            <div id="{{inline_formset.prefix}}-empty" class="empty-form">{{inline_formset.empty_form.as_p}}</div>
        </fieldset>
    </div>
    {% endfor %}
    <div>
        <div class="btn-group">
            <a class="btn btn-default" href="{% url 'sample:web:movement-list' %}">
                <span class="fa fa-list"></span>
            </a>
            {% if object.pk %}
            <a class="btn btn-default" href="{% url 'sample:web:movement-detail' pk=object.pk  %}">
                <span class="fa fa-search"></span>
            </a>
            <a class="btn btn-danger" href="{% url 'sample:web:movement-delete' pk=object.pk  %}">
                <span class="fa fa-trash"></span>
            </a>
            {% endif %}
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
